@value colorBorder from '../theme/variables.module.css';
@value md from '../theme/variables.module.css';
@value xl from '../theme/variables.module.css';
@value drawer from '../theme/variables.module.css';
@value width from '../components/Sidebar.module.css';
@value size from '../components/Header.module.css';


.container {}
.sidebarLeft {}
.sidebarRight {
    position: relative;
    min-height: 200px;
    overflow: hidden;
}

.lock {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .6);
}
.alert {
    color: #fff !important;
}

@media (min-width: md) {
    .container {
        padding-left: width;
    }
    .sidebarLeft {
        position: fixed;
        left: size;
        top: 0;
        z-index: drawer;
        height: 100%;
        width: width;

        border-right: 1px solid colorBorder;
    }
}