@value colorBorder from '../theme/variables.module.css';
@value md from '../theme/variables.module.css';
@value xl from '../theme/variables.module.css';
@value height from '../components/Header.module.css';


.sidebarLeft,
.sidebarRight {
    border-top: 1px solid colorBorder;
}

@media (min-width: md) {
    .sidebarLeft {
        border-top: none;
        border-right: 1px solid colorBorder;
    }
}

@media (min-width: xl) {
    .sidebarRight {
        border-top: none;
        border-left: 1px solid colorBorder;
    }
}