@value colorBackgroundDefault from '../theme/variables.module.css';
@value xl from '../theme/variables.module.css';
@value md from '../theme/variables.module.css';

.layout {
    height: 100%;
}
.postWidth {
    width: calc(100% - 30% - 320px);
}
.post {
}

@media (max-width: calc(xl - 1px)) {
    .postWidth {
        width: 100%;
    }
    .post {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 1250;

        background-color: colorBackgroundDefault;
    }
}
@media (max-width: calc(md - 1px) ) {
    .layout {
        height: auto;
    }
}