@value colorActionHover from '../theme/variables.module.css';

.row {

}
.row:hover {
    background-color: colorActionHover;
}

.button {
    cursor: default !important;
    margin-right: 1rem !important;
}

.action {}
.action + .action {
    margin-left: 3px;
}