@value size: calc(1.25rem + 24px + 10px);
@value md from '../theme/variables.module.css';
@value appBar from '../theme/variables.module.css';
@value colorSecondary from '../theme/variables.module.css';
@value colorBackgroundDefault from '../theme/variables.module.css';



.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: appBar;
    width: size;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 1rem;

    color: #fff;
    background: #452665;
    background: url('/img/header-bg-v.png') no-repeat 0 100%, linear-gradient(30deg, #452665 10%, #752067 90%);
}
.header::after {
    content: '';
    display: block;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background: linear-gradient(0deg, transparent 10%, rgba(255, 255, 255, .8) 70%, transparent 90%);
}
.logo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    padding: 1rem 0;

    font-size: 2.5rem;
    color: #fff;
    background-color: #631355;
    border-bottom: 1px solid #823c76;
}


@media (max-width: calc(md - 1px) ) {
    .header {
        width: 100%;
        height: size;

        flex-direction: row;
        padding: 0 1rem;

        background: #452665;
        background: url('/img/header-bg-h.png') no-repeat 0 0, linear-gradient(30deg, #452665 10%, #752067 90%);
    }
    .header::after {
        display: none;
    }
    .logo {
        display: none;
    }
}
/*
.buttonActive {
    border-radius: 0 !important;
    background-color: colorBackgroundDefault !important;
    color: colorSecondary !important;
}
*/