@value colorActionHover from '../theme/variables.module.css';
@value colorBorder from '../theme/variables.module.css';

.item {
    background-color: #fff;
}
.item + .item {
    border-top: 1px solid colorBorder;
}
.item:hover {
    background-color: colorActionHover;
}
.button {
    display: block !important;
    padding: .7rem 1rem .5rem !important;
}